.DS_Store
.eslintignore
eslint.config.*
api-extractor*.json
tsconfig*.json
rollup.config.js
build.js
npm-debug.log
yarn.lock
tsconfig.tsbuildinfo
jest.config.js
node_modules
src
lib
tests
tests-compiled
demo
