.DS_Store
.eslintignore
eslint.config.*
api-extractor*.json
tsconfig*.json
rollup.config.*
build.js
npm-debug.log
yarn.lock
tsconfig.tsbuildinfo
jest.config.*
node_modules
src
lib
tests
tests-compiled
demo
